
.vertical-flexbox.size-setter
    .main-container
        ul.nav-column
            li
                a(href="/index.html") the acoustix
            li.selected
                a members
            li
                a shows
            li
                a repertoire
            li
                a book us
            li
                a(href="https://www.youtube.com/channel/UCPQAVgsdrddcq8oO0mrMiFw" target="_blank")
                    span youtube
                    i.fa.fa-external-link
            li
                a(href="https://www.facebook.com/theacoustixmusic" target="_blank")
                    span facebook
                    i.fa.fa-external-link
    .content