body {
    font-family: 'Droid Sans', 'Segoe', 'Arial';
    font-weight: lighter;
    background-color: #524040;
    background-image: url("img/low-contrast-linen.png");
    color: #efebde;
    display: flex;
    justify-content: center;
    min-width: 980px;
}

.size-setter {
    width: 1000px;
    margin: 20px;
}

.main-container {
    background-color: #69615b;
    border: 1px solid black;
    border-radius: 4px;
}

.main-container .content {
    padding: 20px;
    padding-bottom: 0px;
}

ul.nav-column li:first-child {
    border-top-left-radius: 4px;
}

ul.nav-column {
    align-self: stretch;
    margin: 0;
    list-style: none;
    display: flex;
    padding: 0;
    background-color: #111;
}

ul.nav-column li i {
    font-size: 12px;
}

ul.nav-column li.selected {
    background-color: #826a58;
    cursor: default;
}

ul.nav-column li:not(.selected):hover {
    background-color: #666;
}

ul.nav-column li {
    background-color: #111;
    cursor: pointer;
    border-right: 1px solid #111;
}

ul.nav-column li a {
    display: block;
    padding: 10px 20px;
}

.footer {
    align-self: flex-end;
    padding: 10px;
    font-size: 10px;
    color: #ccc;
}

a:link {
    color: #efebde;
    text-decoration: none;
}

a:visited {
    color: #efebde;
    text-decoration: none;
}

.flexbox {
    display: flex;
}

.flex-grow {
    flex-grow: 1;
}

.vertical-flexbox {
    display: flex;
    flex-direction: column;
}

.spaced-children > *:not(:last-child) {
    margin-right: 50px;
}

.member-overview {
    display: flex;
    margin-bottom: 20px;
}

.member-summary {
    display: flex;
    flex-grow: 1;
    padding: 5px 0;
    border-bottom: 1px solid;
    margin-bottom: 5px;
    align-items: flex-end;
    color: #ffb7b7;
}

.member-summary > *:not(:last-child) {
    margin-right: 50px;
}

.member-name {
    font-size: 24px;
}

.tidbit {
    font-size: 14px;
}

.member-pic {
    height: 150px;
    min-height: 150px;
    width: 150px;
    min-width: 150px;
    display: block;
    margin-right: 20px;
}

.member-pic img {
    height: 100%;
    width: 100%;
}
