.member-overview {
    display: flex;
    border-top: 1px solid #000;
}

.member-overview:not(:last-child) {
    margin-bottom: 50px;
}

.member-summary-header,
.member-summary-header .expander-label {
    height: 40px;
}

.member-summary-header {
    display: flex;
    flex-grow: 1;
    border-bottom: 1px solid;
    margin-bottom: 5px;
    align-items: baseline;
    color: #000;
}

.member-name {
    font-size: 24px;
}

.member-summary {
    padding-left: 20px;
    text-align: left;
}

.member-summary-header > *:not(:last-child) {
    margin-right: 50px;
}

.member-pic {
    height: 150px;
    min-height: 150px;
    width: 150px;
    min-width: 150px;
    overflow: hidden;
    display: block;
}

.member-pic img {
    max-width: 100%;
    height: auto;
}

span.a {
    color: #3f9a3f;
}

span.b {
    color: #1f1fc1;
}

span.c {
    color: #f9b103;
}

span.d {
    color: #d80429;
}
