.song-name {
    display: flex;
    flex-grow: 1;
    align-items: baseline;
    color: #000;
}

.songs-list {
    border: 1px solid #000;
    padding: 0 10px;
    width: 450px;
    background-color: #fafafa;
}

.songs-list-holder {
    display: flex;
    justify-content: space-between;
}

.song-summary-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.song-summary-header > *:not(:last-child) {
    margin-right: 10px;
}

.songs-list > *:not(:last-child) {
    border-bottom: 1px solid #000;
}

.song-summary-header,
.song-summary-header .expander-label {
    height: 30px;
}
