body {
    font-family: 'Segoe', 'Droid Sans', 'Arial';
    font-weight: lighter;
    background-color: #fff/*#524040*/;
    /*background-image: url("img/low-contrast-linen.png");*/
    color: #000/*#efebde*/;
    display: flex;
    justify-content: center;
    min-width: 980px;
}

@font-face {
    font-family: 'Segoe';
    src: url('fonts/SegoeUi.ttf');
}

h1 {
    padding-bottom:10px;
    margin:0;
    text-decoration:bold;
}

.size-setter {
    width: 900px;
    margin: 20px;
}

.main-container {
    background-color: #fff /*#524040 #69615b*/;
    text-align:center;
    /*border: 1px solid black;
    border-radius: 4px;*/
}

.main-container .content {
    padding: 20px;
}

.main-container img {
    width:50%;
}

.main-container a img {
    width:50px;
    padding-left:15px;
}

ul.nav-column li:first-child {
    border-top-left-radius: 4px;
}

ul.nav-column {
    align-self: stretch;
    margin: 0;
    list-style: none;
    display: flex;
    padding-left:22%;
    background-color: #fff;
}

ul.nav-column li i {
    font-size: 12px;
}

ul.nav-column li.selected {
    text-decoration:underline;
}

ul.nav-column li:not(.selected):hover {
    background-color: #666;
}

ul.nav-column li {
    background-color: #fff;
    color:#000;
    cursor: pointer;
}

ul.nav-column li a {
    display: block;
    padding: 10px 20px;
    color:#000;
}

.footer {
    padding: 10px;
    padding-left:45%;
    font-size: 10px;
    color: #000;
    justify-content:center;
}

.footer img {
    width:40px;
    padding-right:10px;
}

a:link {
    color: #efebde;
    text-decoration: none;
}

a:visited {
    color: #efebde;
    text-decoration: none;
}

.flexbox {
    display: flex;
}

.flex-grow {
    flex-grow: 1;
}

.vertical-flexbox {
    display: flex;
    flex-direction: column;
}

.spaced-children > *:not(:last-child) {
    margin-right: 50px;
}

.stat-label {
    color: #ffb7b7;
}

.tidbit {
    font-size: 14px;
}
